/*导航条相关样式*/
header .container-fluid{
    padding: 0 25px 0 25px;
}

header .navbar{
    margin-bottom: 0;
}
/*main-page主页相关样式*/
.main-page .container-fluid{
    position: relative;
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 600px;
    overflow: hidden;
}

.main-page .mask-layer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.main-page .content{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 150px;
    /*line-height: 250px;*/
}

.main-page .content img{
    width: 120px;
    height: 120px;
}

/*自我介绍样式*/
.my-info{
    margin-top: 100px;
    text-align: center;
}

.my-info .my-img{
    vertical-align: middle;
}

.my-info .my-content p{
    line-height: 30px;
    font-size: 16px;
    margin-top: 20px;
}

/*项目展示样式*/
.project{
    margin-top: 100px;
    text-align: center;
}

.project .row{
    margin-top: 40px;
}


/*页脚展示*/
footer{
    text-align: center;
    background-color: rgba(6, 6, 6, 0.6);
    height: 50px;
}

footer{
    margin-top: 40px;
    font-size: 15px;
    color: white;
    line-height: 50px;
}